@model IEnumerable<Island.Models.PlaceReview>

@{
    ViewBag.Title = "PlacesReviewList";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div id="Container">
    <h2>Places' Review List</h2>
    <hr />
    <p>
        @Html.ActionLink("Create New Review", "PlaceReview")
    </p>
    @using (Html.BeginForm())
    {
        <div>
            <input type="text" name="searchId" id="searchId" placeholder="Search place review with Place review Id" style="width:300px">
            <input type="text" name="searchPlaceId" id="searchPlaceId" placeholder="Search place review with Place Id" style="width:300px">
            <input type="text" name="searchUserId" id="searchUserId" placeholder="Search place review with User Id" style="width:300px">
            <input type="submit" class="btn-outline-primary" value="Search">
        </div>
    }
    <br />

    <table class="table table-bordered table-responsive">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.review)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <button class="btn btn-outline-danger deletebtn" myid="@item.id">Delete Place's review</button>
                </td>
            </tr>
        }

    </table>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".deletebtn").click(function () {
            var result = confirm("Are you sure?");
            if (result == true) {
                var idtd = $(this).attr("myid");
                var tr = $(this).parent().parent();

                $.ajax({
                    url: "@Url.Action("DeletePlaceReviewByAjax")",
                    type: "POST",
                    dataType: 'json',
                    data: {id: idtd},
                    success: function (response) {
                        alert(response.msg)
                        $(tr).remove();
                    },
                    error: function (response) {
                        alert("Place's review did not delete");
                    }
                });

            }
            });
    });
</script>
<style>
    h2 {
        padding: 10px;
        color: black
    }

    #Container {
        padding: 15px;
    }
</style>